<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMeteoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63094/MeteoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMeteoService" contract="ServiceReference1.IMeteoService"
                name="BasicHttpBinding_IMeteoService" />
        </client>
    </system.serviceModel>
</configuration>